body {
    background-color: #77DAAD;

}
#header {
	float: left;
    width: 700px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
   background-color: grey;
    
}

#left {
    float: left;
    height: 500px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: #c59496;
   
}

#kitty {
    border: dashed;
    margin-left: 50px;
}
a {
    text-decoration: none;
    color: #669999;
    background-color: #D0D0D0;
}